<head>
<title>BME Robotics - Inventory</title>
	<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
	<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 

	<!-- Inline CSS based on choices in "Settings" tab -->
	<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>
</head>
<body>
	<h1>New Item</h1>
	<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
	<div class="bootstrap-iso">
	 <div class="container-fluid">
	  <div class="row">
	   <div class="col-md-6 col-sm-6 col-xs-12">
		<form method="post">
		 <div class="form-group ">
		  <label class="control-label requiredField" for="itemName">
		   Item Name
		   <span class="asteriskField">
			*
		   </span>
		  </label>
		  <input class="form-control" id="itemName" name="itemName" type="text"/>
		 </div>
		 <div class="form-group ">
		  <label class="control-label " for="description">
		   Description
		  </label>
		  <input class="form-control" id="description" name="description" type="text"/>
		  <span class="help-block" id="hint_description">
		   Enter a description of the item.
		  </span>
		 </div>
		 <div class="form-group ">
		  <label class="control-label requiredField" for="category">
		   Category
		   <span class="asteriskField">
			*
		   </span>
		  </label>
		  <select class="select form-control" id="category" name="category">
		   <option value="Motor/Actuator">
			Motor/Actuator
		   </option>
		   <option value="Electrical Components (Capacitors, wires, resistors, LEDs)">
			Electrical Components (Capacitors, wires, resistors, LEDs)
		   </option>
		   <option value="Microcontrollers (Arduino/Pi)">
			Microcontrollers (Arduino/Pi)
		   </option>
		   <option value="Building Materials">
			Building Materials
		   </option>
		   <option selected="selected" value="">
		   </option>
		  </select>
		 </div>
		 <div class="form-group">
		  <div>
		   <button class="btn btn-primary " name="submit" type="submit">
			Next (Supplier) ->
		   </button>
		  </div>
		 </div>
		</form>
	   </div>
	  </div>
	 </div>
	</div>
	<h2>Supplier Information</h2>


<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCtNqiPEQrIQyFFSamUDHHuSXG5c0eShFY",
    authDomain: "gt-bmerobotics.firebaseapp.com",
    databaseURL: "https://gt-bmerobotics.firebaseio.com",
    projectId: "gt-bmerobotics",
    storageBucket: "gt-bmerobotics.appspot.com",
    messagingSenderId: "602442707716"
  };
  firebase.initializeApp(config);
</script>
</body>
